* {
    padding: 0px;
    margin: 0px;
    font-family: 'Songti', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

header {
    background-color: black;
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
}

header li {
    display: inline;
    margin-right: 3vw;
}

header ul {
    position: absolute;
    right: 1vw;
    top: 1;
    line-height: 70px;
}

header h1 {
    color: white;
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 140px;
    letter-spacing: 3px;
    font-size: 60px;
}

header ul a:hover {
    text-decoration: underline;
    color:rgb(114, 203, 233);
}

header a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

footer {
    background-color: black;
    color: gray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.menu {
    text-decoration: underline;
    display: none;
}

li .this{
    color:rgb(114, 203, 233);
    text-decoration: underline;
}
/* 響應式設計 */
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .news h2 {
        font-size: 40px;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

}