.top {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 153, 153);
    
}

.img {
    margin-top: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-left: 50px;
    margin-right: 50px;
    width: 80px;
    height: 80px;
}

.font{
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font a {
    font-size: 30px;
}