* {
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: #003060;
    z-index: 1;

}

.a1 {
    width: 100%;
    height: 30px;
    background-color: skyblue;
}

main {
    position: absolute;
    top: 120px;
    width: 100vw;
    height: 100%;
    background-color: #0080FF;

}

footer {
    width: 100vw;
    height: 100px;
    bottom: 0;
    background-color: black;

}

.b2 {
    padding: 100px 70px;
    margin: 10px;
}

h1 {
    line-height: 85px;
    left: 30px;
    color: white;
    padding: 0px 0px 0px 50px;
    background-image: url(../images/logo2.svg);
    background-repeat: no-repeat;
    background-position: left;
    text-indent: -9999px;
}

.a2-1 {
    position: absolute;
    right: 10px;
    bottom: 35px;
}

.a1-1 {
    position: absolute;
    top: 5px;
    left: 5vw;
}

.a1-2 {
    position: absolute;
    top: 5px;
    right: 2vw;
}

.button1 {
    position: relative;
    right: 2vw;
    top: 15px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}

.button2 {
    position: relative;
    right: 1vw;
    top: 15px;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}

.b1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.list li {
    display: inline;
    margin-right: 1vw;
}

header ul {
    position: absolute;
    left: 380px;
    top: 60px
}

.b2 img {
    height: 100px;
}

.b2 {
    margin: 0px 10vw 0px 10vw;
}

.b2-1 {
    height: 10vh;
    width: auto;
    text-align: center;
}

.b2-2 {
    margin: 50px 0px 50px 0px;
}

.b2-3 {
    margin: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
    
}

.b2-3-1 {
    margin-right: 20px;
}

.b2-4 {
    margin: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
    
}

.b2-4-1 {
    margin-right: 20px;
}

.b2-5 {
    margin: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
    
}

.b2-5-1 {
    margin-right: 20px;
}

.b2-1-1 h2 {
    color: white;
    text-align: left;
    font-size:30px;
}

.b2-1-1 h3 {
    color: white;
    text-align: left;
    font-size:22px;
}

.b2-1-2 div {
    position: relative;
    top: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 150px;
}

.b2-1-2 {
    display: flex;
}

.box1 {
    flex:1;
}

.box2 {
    flex:1;
}

.box3 {
    flex:1;
}

.box4 {
    flex:1;
}